extends ../layout
block head_content
    script
        include ../js/volumeHandler.js
block body_content
    div(class=`tap-${tap.key}`)
        h1= tap.keg.name
        h3(class='tap__volume') #{tap.volume}
        p= tap.keg.description