extends ../layout
block head_content
    script
        include ../../assets/js/volumeHandler.js
        include ../../assets/js/beerPourAnimation.js
block body_content
  include ../snippets/tap-layout
