extends ../layout
block head_content
    script
        include ../js/volumeHandler.js
block body_content
  div(class=`tap-${tap.key}`)
    div(class=`img--tile`)
      img(src="../../assets/images/lug-tread/lug-tread-1.jpg" alt="Image Title")
    div(class=`content--tile`)
      h3(class="tap__name") #{tap.keg.name}
    div(class=`content--tile`)
      h4(class="tap__volume") #{tap.volume}
    div(class=`img--tile`)
      img.img--tile(src="../../assets/images/lug-tread/lug-tread-2.jpg" alt="Image Title")
    div(class=`img--tile`)
      img.img--tile(src="../../assets/images/lug-tread/lug-tread-3.jpg" alt="Image Title")
    div(class=`content--tile`)
      p(class="tap__description") #{tap.keg.description}
