// Credit to https://codepen.io/TimRuby/pen/jcLia

.beer-container {
    height: calc((100vh / 3) * 2);
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 5px;
    left: -24px;
    width: 100%;
}

.beer-container div {
    position: absolute;
}

.handle {
    right: -85px;
    height: 80%;
    width: 80px;
    border: 35px solid white;
    border-left: none;
    border-radius: 0 20px 20px 0;
    top: 10%;
}

.pour {
    position: absolute;
    left: 45%;
    width: 20px;
    height: 0px;
    background-color: #edaf32;
    border-radius: 10px
}

.beaker {
    border: 10px solid #fff;
    border-top: 0;
    border-radius: 0 0 30px 30px;
    height: 90%;
    left: 15px;
    bottom: 5px;
    width: 75%;
}

.liquid {
    background-color: #edaf32;
    border: 10px solid #edaf32;
    border-radius: 0 0 20px 20px;
    bottom: 0;
    height: 0px;
    overflow: hidden;
    width: 100%;
    transition: height 1500ms linear;
}

.liquid:after {
    background-color: rgba(255, 255, 255, 0.25);
    bottom: -10px;
    content: '';
    height: 100%;
    left: -40px;
    position: absolute;
    transform: rotate(30deg);
    -webkit-transform: rotate(15deg);
    width: 110px;
}

.liquid .bubble {
    -webkit-animation-name: bubble;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    border-radius: 10px;
    height: 20px;
    width: 20px;
}

@-webkit-keyframes bubble {
    0% {
        bottom: 0;
    }

    50% {
        background-color: rgba(255, 255, 255, 0.2);
        bottom: 40%;
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
        bottom: 90%;
    }
}

.bubble1 {
    left: 10%;
    -webkit-animation-delay: 1000ms;
    -webkit-animation-duration: 1000ms;
}

.bubble2 {
    left: 20%;
    -webkit-animation-delay: 700ms;
    -webkit-animation-duration: 1100ms;
}

.bubble3 {
    left: 30%;
    -webkit-animation-delay: 1200ms;
    -webkit-animation-duration: 1300ms;
}

.bubble4 {
    left: 40%;
    -webkit-animation-delay: 1100ms;
    -webkit-animation-duration: 700ms;
}

.bubble5 {
    left: 50%;
    -webkit-animation-delay: 1300ms;
    -webkit-animation-duration: 800ms;
}

.bubble6 {
    left: 60%;
    -webkit-animation-delay: 1000ms;
    -webkit-animation-duration: 1000ms;
}

.bubble7 {
    left: 70%;
    -webkit-animation-delay: 700ms;
    -webkit-animation-duration: 1100ms;
}

.bubble8 {
    left: 80%;
    -webkit-animation-delay: 1200ms;
    -webkit-animation-duration: 1300ms;
}

.bubble9 {
    left: 90%;
    -webkit-animation-delay: 1100ms;
    -webkit-animation-duration: 700ms;
}

/* Foam */

.beer-foam {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: -10px;
    transition: bottom 1500ms linear;
}

div[class*="foam-"] {
    float: left;
    position: absolute;
    z-index: 999;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #fefefe;
}

.foam-1 {
    top: -25px;
    left: 0;
}

.foam-2 {
    top: -35px;
    left: 7%;
}

.foam-3 {
    top: -25px;
    left: 14%;
}

.foam-4 {
    top: -35px;
    left: 20%;
}

.foam-5 {
    top: -30px;
    left: 27%;
}

.foam-6 {
    top: -20px;
    left: 35%;
}

.foam-7 {
    top: -25px;
    left: 41%;
}

.foam-8 {
    top: -25px;
    left: 48%;
}

.foam-9 {
    top: -35px;
    left: 55%;
}

.foam-10 {
    top: -30px;
    left: 62%;
}

.foam-11 {
    top: -20px;
    left: 70%;
}

.foam-12 {
    top: -25px;
    left: 75%;
}

.foam-13 {
    top: -30px;
    left: 83%;
}

.foam-14 {
    top: -36px;
    left: 91%;
}