.beer-battery-container {
    width: 25vw;
}

.beer-battery {
    width: 90px;
    display: table;
    position: relative;
    margin-right: 50px;

    .volume-container {
        position: absolute;
        bottom: 0;
        left: 0;
        height: calc(100% - 30px);
        width: 100%;
        display: block;
        padding: 15px 5px 0;

        .volume {
            content: '';
            position: absolute;
            display: block;
            background: #edaf32;
            width: calc(100% - 10px);
            height: 100%;
            left: 5px;
            bottom: 15px;
        }
    }

    .percent-remaining {
        font-size: 1.9rem;
        display: block;
        position: absolute;
        top: 45px;
        z-index: 5;
        width: 100%;
        text-align: center;
    }

    img {
        position: relative;
    }
}