// Credit to https://codepen.io/TimRuby/pen/jcLia

.tap-poster img.pouring {
    filter: blur(10px);
    transition: filter 1000ms linear;
}

.beer-container {
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 1000ms linear;

    &.pouring {
        opacity: 0.6;
    }
}

.beer-container div {
    position: absolute;
}

.handle {
    right: -125px;
    height: 80%;
    width: 120px;
    border: 35px solid white;
    border-left: none;
    border-radius: 0 20px 20px 0;
    top: 10%;
}

.beaker {
    border-top: 0;
    height: 100%;
    width: 100%;
}

.liquid {
    background-color: #edaf32;
    bottom: 0;
    height: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: height 1000ms linear;
}

.liquid:after {
    background-color: rgba(255, 255, 255, 0.25);
    bottom: -10px;
    content: '';
    height: 100%;
    left: -40px;
    position: absolute;
    transform: rotate(30deg);
    -webkit-transform: rotate(15deg);
    width: 110px;
}

.liquid .bubble {
    -webkit-animation-name: bubble;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    background-color: rgba(255, 255, 255, 1);
    bottom: 0;
    border-radius: 25px;
    height: 50px;
    width: 50px;
}

@-webkit-keyframes bubble {
    0% {
        bottom: 0;
    }

    50% {
        background-color: rgba(255, 255, 255, 0.2);
        bottom: 40%;
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
        bottom: 90%;
    }
}

.bubble1 {
    left: 10%;
    -webkit-animation-delay: 1000ms;
    -webkit-animation-duration: 1000ms;
}

.bubble2 {
    left: 20%;
    -webkit-animation-delay: 700ms;
    -webkit-animation-duration: 1100ms;
}

.bubble3 {
    left: 30%;
    -webkit-animation-delay: 1200ms;
    -webkit-animation-duration: 1300ms;
}

.bubble4 {
    left: 40%;
    -webkit-animation-delay: 1100ms;
    -webkit-animation-duration: 700ms;
}

.bubble5 {
    left: 50%;
    -webkit-animation-delay: 1300ms;
    -webkit-animation-duration: 800ms;
}

.bubble6 {
    left: 60%;
    -webkit-animation-delay: 1000ms;
    -webkit-animation-duration: 1000ms;
}

.bubble7 {
    left: 70%;
    -webkit-animation-delay: 700ms;
    -webkit-animation-duration: 1100ms;
}

.bubble8 {
    left: 80%;
    -webkit-animation-delay: 1200ms;
    -webkit-animation-duration: 1300ms;
}

.bubble9 {
    left: 90%;
    -webkit-animation-delay: 1100ms;
    -webkit-animation-duration: 700ms;
}

.bubble10 {
    left: 15%;
    -webkit-animation-delay: 1200ms;
    -webkit-animation-duration: 1200ms;
}

.bubble11 {
    left: 18%;
    -webkit-animation-delay: 1200ms;
    -webkit-animation-duration: 400ms;
}

.bubble12 {
    left: 25%;
    -webkit-animation-delay: 120ms;
    -webkit-animation-duration: 1400ms;
}

.bubble13 {
    left: 35%;
    -webkit-animation-delay: 800ms;
    -webkit-animation-duration: 800ms;
}

.bubble14 {
    left: 45%;
    -webkit-animation-delay: 1400ms;
    -webkit-animation-duration: 500ms;
}

.bubble15 {
    left: 55%;
    -webkit-animation-delay: 700ms;
    -webkit-animation-duration: 1200ms;
}

.bubble16 {
    left: 65%;
    -webkit-animation-delay: 300ms;
    -webkit-animation-duration: 1500ms;
}

.bubble17 {
    left: 75%;
    -webkit-animation-delay: 1220ms;
    -webkit-animation-duration: 1100ms;
}

.bubble18 {
    left: 85%;
    -webkit-animation-delay: 1400ms;
    -webkit-animation-duration: 1100ms;
}

.bubble19 {
    left: 95%;
    -webkit-animation-delay: 700ms;
    -webkit-animation-duration: 900ms;
}

/* Foam */

.beer-foam {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: -10px;
    transition: bottom 1000ms linear;
}