main {
    height: 100vh;
    overflow: hidden;
}

.flex {
    display: flex;
}

.tap-poster {
    width: calc(70vw);
    text-align: center;
    position: relative;

    img {
        max-height: 100vh;
    }

    .pour-animation {
        position: absolute;
        top: 0;
        left: 0;
        width: 70vw;
        height: 100vh;
    }
}

#maintenance-overlay {
    opacity: 0.5; 
    background: #F00; 
    width: 100%;
    height: 100%; 
    z-index: 10;
    top: 0; 
    left: 0; 
    position: fixed;
    display: none;
  }