body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -100px;
  z-index: 9999;
}
.poster-wrapper {
  position: absolute;
  margin-top: 100px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.poster-wrapper img {
  width: 50%;
  object-fit: contain;
}
