extends ../admin_layout
block sidebar
    a(href='/admin')
        i.fas.fa-chevron-left.sorry-alex(style='font-size:100px;')
block main_content
    form(method='POST' action='/admin/kegs/create' encType="multipart/form-data")
        div.form-group
            label(for='name') Name
            input#name.form-control(type='text', placeholder="Beau's Lug Tread" name='name')
        div.form-group
            label(for='description') Description
            input#description.form-control(type='textarea', placeholder="The classic." name='description')
        div.form-group
            label(for='image') Poster
            input#image.form-control(type='file', name='image')
        button.btn.btn-primary(type='submit') Add Keg