@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,900");
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6,
p, em, strong, ul, ol {
  font-weight: 300;
}

h4 {
  font-size: 2.5rem;
}

p, ul, ol {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

div[class*="flex-wrapper"] {
  display: flex;
  width: 100%;
}

main {
  height: 100vh;
  overflow: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
}

.tap-poster {
  width: calc(100vw);
  height: 87vh;
  text-align: center;
  position: relative;
}

.tap-poster img {
  max-height: 100vh;
}

.tap-poster .pour-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 87vh;
}

.footer-tap-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90vw;
  margin-left: 5vw;
  padding: 40px;
  display: flex;
}

.multi-tap {
  display: flex;
}

.multi-tap > section {
  width: 50%;
}

#maintenance-overlay {
  opacity: 0.5;
  background: #F00;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
}

.tap-info {
  position: relative;
}

.tap-poster img.pouring {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  transition: -webkit-filter 1000ms linear;
  transition: filter 1000ms linear;
  transition: filter 1000ms linear, -webkit-filter 1000ms linear;
}

.beer-container {
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  opacity: 0;
  transition: opacity 1000ms linear;
}

.beer-container.pouring {
  opacity: 0.6;
}

.beer-container div {
  position: absolute;
}

.handle {
  right: -125px;
  height: 80%;
  width: 120px;
  border: 35px solid white;
  border-left: none;
  border-radius: 0 20px 20px 0;
  top: 10%;
}

.beaker {
  border-top: 0;
  height: 100%;
  width: 100%;
}

.liquid {
  background-color: #edaf32;
  bottom: 0;
  height: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: height 1000ms linear;
}

.liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 100%;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 110px;
}

.liquid .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color: white;
  bottom: 0;
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

@-webkit-keyframes bubble {
  0% {
    bottom: 0;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 40%;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    bottom: 90%;
  }
}

.bubble1 {
  left: 10%;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-duration: 1000ms;
}

.bubble2 {
  left: 20%;
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 1100ms;
}

.bubble3 {
  left: 30%;
  -webkit-animation-delay: 1200ms;
  -webkit-animation-duration: 1300ms;
}

.bubble4 {
  left: 40%;
  -webkit-animation-delay: 1100ms;
  -webkit-animation-duration: 700ms;
}

.bubble5 {
  left: 50%;
  -webkit-animation-delay: 1300ms;
  -webkit-animation-duration: 800ms;
}

.bubble6 {
  left: 60%;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-duration: 1000ms;
}

.bubble7 {
  left: 70%;
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 1100ms;
}

.bubble8 {
  left: 80%;
  -webkit-animation-delay: 1200ms;
  -webkit-animation-duration: 1300ms;
}

.bubble9 {
  left: 90%;
  -webkit-animation-delay: 1100ms;
  -webkit-animation-duration: 700ms;
}

.bubble10 {
  left: 15%;
  -webkit-animation-delay: 1200ms;
  -webkit-animation-duration: 1200ms;
}

.bubble11 {
  left: 18%;
  -webkit-animation-delay: 1200ms;
  -webkit-animation-duration: 400ms;
}

.bubble12 {
  left: 25%;
  -webkit-animation-delay: 120ms;
  -webkit-animation-duration: 1400ms;
}

.bubble13 {
  left: 35%;
  -webkit-animation-delay: 800ms;
  -webkit-animation-duration: 800ms;
}

.bubble14 {
  left: 45%;
  -webkit-animation-delay: 1400ms;
  -webkit-animation-duration: 500ms;
}

.bubble15 {
  left: 55%;
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 1200ms;
}

.bubble16 {
  left: 65%;
  -webkit-animation-delay: 300ms;
  -webkit-animation-duration: 1500ms;
}

.bubble17 {
  left: 75%;
  -webkit-animation-delay: 1220ms;
  -webkit-animation-duration: 1100ms;
}

.bubble18 {
  left: 85%;
  -webkit-animation-delay: 1400ms;
  -webkit-animation-duration: 1100ms;
}

.bubble19 {
  left: 95%;
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 900ms;
}

/* Foam */
.beer-foam {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: -10px;
  transition: bottom 1000ms linear;
}

.beer-battery-container {
  width: 25vw;
}

.beer-battery {
  width: 90px;
  display: table;
  position: relative;
  margin-right: 50px;
}

.beer-battery .volume-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: calc(100% - 30px);
  width: 100%;
  display: block;
  padding: 15px 5px 0;
}

.beer-battery .volume-container .volume {
  content: '';
  position: absolute;
  display: block;
  background: #edaf32;
  width: calc(100% - 10px);
  height: 100%;
  left: 5px;
  bottom: 15px;
}

.beer-battery .percent-remaining {
  font-size: 1.9rem;
  display: block;
  position: absolute;
  top: 45px;
  z-index: 5;
  width: 100%;
  text-align: center;
}

.beer-battery img {
  position: relative;
}

.tap-info {
  width: calc(100vw);
  height: 13vh;
  z-index: 5;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f7e7;
  color: #3a350e;
}

.tap-info h1 {
  font-size: 4.0rem;
  margin: 15px 0;
}

.tap-info h3 {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 500;
}

.tap-info h5 {
  font-size: 1.4rem;
  margin: 0;
  color: #fff;
  font-weight: 500;
}

.footer-tap-info {
  background: #000;
  border: 5px solid #f9f7e7;
  border-bottom: 0;
  color: #f9f7e7;
}

.footer-tap-info h5 {
  font-size: 3.5rem;
  margin: 0 0 15px;
  text-align: center;
}

.footer-tap-info p {
  font-size: 2.0rem;
  text-align: center;
  margin-bottom: 0;
}

#tap-abv {
  position: absolute;
  left: 0;
  background: #f9f7e7;
  border: 5px solid #000;
  border-left: 0;
  padding: 20px 60px;
  color: white;
  font-size: 5rem;
  bottom: 10vh;
  color: #000;
  text-align: center;
}

#tap-abv h5 {
  margin: 0;
}

#tap-abv h6 {
  margin: 0;
}

#tap-supplier img {
  width: 300px;
}

/*# sourceMappingURL=styles.css.map */
