doctype html
html
    head
        title K.I.
        script(src="/socket.io/socket.io.js")
        script(src="https://code.jquery.com/jquery-1.11.1.js")
        block head_content
    body
        block body_content