div(class=`beer-container`)
    div(class=`beaker`)
        div(class=`liquid`)
            div(class=`bubble bubble1`)
            div(class=`bubble bubble2`)
            div(class=`bubble bubble3`)
            div(class=`bubble bubble4`)
            div(class=`bubble bubble5`)
            div(class=`bubble bubble6`)
            div(class=`bubble bubble7`)
            div(class=`bubble bubble8`)
            div(class=`bubble bubble9`)