div(class=`beer-container`)
    div(class=`beaker`)
        div(class=`liquid`)
            div(class=`bubble bubble1`)
            div(class=`bubble bubble2`)
            div(class=`bubble bubble3`)
            div(class=`bubble bubble4`)
            div(class=`bubble bubble5`)
            div(class=`bubble bubble6`)
            div(class=`bubble bubble7`)
            div(class=`bubble bubble8`)
            div(class=`bubble bubble9`)
            div(class=`bubble bubble10`)
            div(class=`bubble bubble11`)
            div(class=`bubble bubble12`)
            div(class=`bubble bubble13`)
            div(class=`bubble bubble14`)
            div(class=`bubble bubble15`)
            div(class=`bubble bubble16`)
            div(class=`bubble bubble17`)
            div(class=`bubble bubble18`)
            div(class=`bubble bubble19`)