div(class=`beer-container`)
    div(class=`pour`)
    div(class=`beaker`)
        div(class=`beer-foam`)
            div(class=`foam-1`)
            div(class=`foam-2`)
            div(class=`foam-3`)
            div(class=`foam-4`)
            div(class=`foam-5`)
            div(class=`foam-6`)
            div(class=`foam-7`)
            div(class=`foam-8`)
            div(class=`foam-9`)
            div(class=`foam-10`)
            div(class=`foam-11`)
            div(class=`foam-12`)
            div(class=`foam-13`)
            div(class=`foam-14`)
        div(class=`liquid`)
            div(class=`bubble bubble1`)
            div(class=`bubble bubble2`)
            div(class=`bubble bubble3`)
            div(class=`bubble bubble4`)
            div(class=`bubble bubble5`)
            div(class=`bubble bubble6`)
            div(class=`bubble bubble7`)
            div(class=`bubble bubble8`)
            div(class=`bubble bubble9`)
        div(class=`handle`)