- percentageRemaining = (tap.volume/tap.initialVolume)*100

aside(class=`tap-info`)
article(class=`tap-poster`)
    img(src=`${tap.keg.images.logo}` alt=`${tap.keg.name}`)
    div(class=`pour-animation`)
        include ../snippets/beer-animation



    //div(class=`content--tile`)
    //    h3(class="tap__name") #{tap.keg.name}
